# Created by .ignore support plugin (hsz.mobi)


.gradle
./gradle
.idea/*.xml
.idea/copyright
.idea/libraries
.idea/shelf
.idea/.name
target
out
build
lib
gradlew
gradlew.bat

*.iml
*.ipr
*.iws
*.zip
*.log
